/* FOR EVERY NEW REACT PROJECT USE THESE STYLES AFTER REMOVING DEFAULT App.css and index.css */
*{
    margin:0;
    box-sizing: border-box;
}

.flex{
    display:flex;
}

.items-center{
    align-items: center;
}

.flex-1{
    flex:1;
}


.wrapper{
    padding:0 var(--wrapper);
}


/* SELF STYLING */

.task-column{
    padding: 0 8px;
    height: 100%;
    overflow: auto;
}
.task-card{
    min-height: 200px;
    padding: 16px 0;
    margin: 16px;
}

button{
    height:32px;
    padding: 8px;
    margin: 8px;
    text-align: center;
}
.card {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
    min-height: 200px;
    background: white;
    box-sizing: border-box;
    width: 100%;
    margin: 8px;
}
