.btn{
    padding:8px 16px;
    background: white;
    border:none;
    border-radius: 4px;
    &.primary{
        background: var(--primary-color);
        color:var(--light-color);
        &.outline{
            background:transparent;
            border:1px solid var(--primary-color);
            color: var(--primary-color);
        }
    }

}

// .btn.primary{
//     background: var(--primary-color);
//     color:var(--light-color);
// }