:root{
    --wrapper: 7.5vw;
    --primary-color:teal;
    --accent-color: grey;
    --light-color: white;
    --xs: 4px;
    --sm: 8px;
}

/* 4,8,16,24,32,40,48,64,72 */


/* xs sm md lg xl xxl xxxl */